.tab-header-background {
    -fx-background-color: #31E309;
}

.styled-text-area .lineno .text {
    -fx-fill: green;
}

.lineno {
    -fx-background-color: transparent;
}

.tab-label
{
    -fx-text-fill: black;
    -fx-font-family: "Apple Braille";
}

.tab-pane .tab-header-area
{
    -fx-padding: 10 0 -1 5;
}

.style-text-area
{
    -fx-font-color: red;
    -fx-font-family: "Apple Braille";
    -fx-control-inner-background: #6E43A7;
}

.menu .label
{
    -fx-text-fill: black;
    -fx-font-family: "Apple Braille";
}



.label
{
    -fx-text-fill: white;
    -fx-font-family: "Apple Braille";
}

.menu-item .label
{
    -fx-text-fill: black;
    -fx-font-family: "Apple Braille";
}

.split-pane-divider {
    -fx-padding: 0 0.05em 0 0.05em;
}